apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: airflow
  namespace: infra-tools
spec:
  project: default
  source:
    repoURL: https://github.com/helm/charts.git      
    chart: "Airflow Helm Chart"         
    targetRevision: "7.13.0"
    helm:
      valueFiles: 
        - values/values_airflow.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: lesson7 # куди деплоїти застосунок
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
