apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mlflow
  namespace: infra-tools
spec:
  project: default

  source:
    repoURL: community-charts.github.io
    chart: mlflow
    targetRevision: 1.8.1
    helm:
      values: |
        service:
          type: ClusterIP

        backendStore:
          database:
            type: sqlite

        artifactStore:
          type: file

  destination:
    server: https://kubernetes.default.svc
    namespace: application

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true