apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
 name: mlflow
 namespace: infra-tools  # де встановлено ArgoCD (напр., infra-tools)
spec:
 project: default
 source:
  repoURL: oci://registry-1.docker.io/bitnamicharts   # з ArtifactHub або GitHub Helm repo
  chart: mlflow      # назва чарту
  targetRevision: 5.1.17
  helm:
   # ОБЕРІТЬ ОДИН СПОСІБ:
   # values: |         # ← вставити ваші overrides тут (Варіант A)
   #  ...
   # valueFiles:        # ← або посилання на файл у вашому Git (Варіант B)
   #  - values/<file>.yaml
 destination:
  server: https://kubernetes.default.svc
  namespace: mlflow # куди деплоїти застосунок
 syncPolicy:
  automated:
   prune: true
   selfHeal: true
  syncOptions:
   - CreateNamespace=true
