apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: airflow
  namespace: infra-tools
spec:
  project: default
  source:
    repoURL: https://github.com/helm/charts.git
    chart: "airflow"
    targetRevision: "7.13"
    helm:
      valueFiles:
        - stable/airflow/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: infra-tools # куди деплоїти застосунок
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
